.container {
    display: flex;  
    color: white;
    height: 70px;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.valilehdet
{
    margin: 0 0 0 24px;
}

.headerBackground {
    background-color: #00194c;
}

.brand {
    font-size: 24px;
    font-weight: 700;
}

.nappi
{
    margin: 0 0 0 700px;
}