.header
{
    background-color: white;
    margin: 0 40%;
    padding: 16px 0;
    font-size:  22px;
    font-weight: 700;  
    border-color: black;
    border-bottom: solid;
    border-bottom-width: 0.5px;
}

.container {
    font-size: 15px;
}

.containerText {
    font-size: 15px;
    font-weight: 400;
}